.App {
  font-family: sans-serif;
  text-align: center;
}
#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#btnPrev {
  background: darkmagenta;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  margin-right: 70px;
}

#btnNext {
  background: darkmagenta;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  margin-left: 70px;
}

#slideWindow {
  border: 2px solid red;
}
